<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.dao.IRodetailDao">
    <select id="getAllDetail"  resultMap="alls" >
	select * from rodetail
</select>
	<resultMap id="alls" type="Rodetail">
			<id property="roid" column="roid"/>
			<association property="rounds" column="roid"
						 select="com.hotel.dao.IRoundsDao.getById" >
			</association>

	</resultMap>

	<select id="getByRtid" resultMap="gets" >
		select * from rodetail where rtid=#{rtid}
	</select>
	<resultMap id="gets" type="Rodetail">
		<id property="roid" column="roid"/>
		<association property="rounds" column="roid"
					 select="com.hotel.dao.IRoundsDao.getById" >
		</association>

	</resultMap>
</mapper>